<footer id="footer" class="bg-lt-grey">
    <div class="container clear">
        <div class="abt">
            <h3><a href="/"><img alt="CloudCashflow logo"
                        src="/images/CloudCashflow-logo-footer.webp"
                        srcset="/images/CloudCashflow-logo-footer@2x.webp 2x"></a>
            </h3>
            <div class="desc">
                <b>CloudCashflow</b> is a free online resource that offers in-depth tutorials, tools, product
                reviews, and other resources to help you start a successful SaaS business and make a living online.
            </div>
            <div class="social">
                <b>Follow us:</b><br><br>
                <a href="https://www.facebook.com/CloudCashflow/" target="_blank"
                    rel="nofollow noopener noreferrer" class="soc-btn fb">
                    <i class="fa fa-facebook-official"></i><span class="vihi">Facebook</span>
                </a>
                <a href="https://twitter.com/lllindane" target="_blank" rel="nofollow noopener noreferrer"
                    class="soc-btn tw">
                    <i class="fa fa-twitter"></i><span class="vihi">Twitter</span>
                </a>
                <a href="https://www.youtube.com/user/CloudCashflow" target="_blank"
                    rel="nofollow noopener noreferrer" class="soc-btn yo">
                    <i class="fa fa-youtube"></i><span class="vihi">Youtube</span>
                </a>
            </div>
        </div>
        <div class="mnu">
            <div class="top clear">
                <div class="cmp a">
                    <h3>CloudCashflow</h3>
                    <div class="links">
                        <a href="/about/">About Us</a>
                        <a href="/contact/">Contact Us</a>
                        <a href="/privacy/">Privacy Policy</a>
                        <a href="/sitemap.xml">Sitemap</a>
                    </div>
                </div>
                <div class="cmp b">
                    <h3>SaaS Guides</h3>
                    <div class="links">
                        <a href="/2024/start-a-saas-in-5-simple-steps/">Start Building SaaS</a>
                        <a href="/2024/saas-content-marketing-3-principles-to-get-more-organic-saas-leads-fast/">SaaS Content Marketing</a>
                        <a href="/2024/from-0-to-100-customers-how-to-grow-your-micro-saas-from-scratch/">Get First 100 Customers</a>
                        <a href="#">SaaS Tools</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
