<footer id="footer" class="bg-lt-grey">
    <div class="container clear">
        <div class="abt">
            <h3><a href="#"><img alt="BlogTyrant logo"
                        src="/images/blogtyrant-logo.png"
                        srcset="/images/blogtyrant-logo@2x.png 2x"></a>
            </h3>
            <div class="desc">
                <b>Blog Tyrant</b> is a free online resource that offers in-depth tutorials, tools, product
                reviews, and other resources to help you start a successful blog and make a living online.
            </div>
            <div class="social">
                <b>Follow us:</b><br><br>
                <a href="https://www.facebook.com/blogtyrant/" target="_blank"
                    rel="nofollow noopener noreferrer" class="soc-btn fb">
                    <i class="fa fa-facebook-official"></i><span class="vihi">Facebook</span>
                </a>
                <a href="https://twitter.com/blogtyrant" target="_blank" rel="nofollow noopener noreferrer"
                    class="soc-btn tw">
                    <i class="fa fa-twitter"></i><span class="vihi">Twitter</span>
                </a>
                <a href="https://www.youtube.com/user/BlogTyrant" target="_blank"
                    rel="nofollow noopener noreferrer" class="soc-btn yo">
                    <i class="fa fa-youtube"></i><span class="vihi">Youtube</span>
                </a>
            </div>
        </div>
        <div class="mnu">
            <div class="top clear">
                <div class="cmp a">
                    <h3>BlogTyrant</h3>
                    <div class="links">
                        <a href="#about/">About Us</a>
                        <a href="#contact-us/">Contact Us</a>
                        <a href="#privacy-policy/">Privacy Policy</a>
                        <a href="#terms-of-service/">Terms of Service</a>
                        <a href="#ftc-disclosure/">FTC Disclosure</a>
                        <a href="#sitemap_index.xml">Sitemap</a>
                    </div>
                </div>
                <div class="cmp b">
                    <h3>Blogging Guides</h3>
                    <div class="links">
                        <a href="#blog-sites/">Blogging Platforms</a>
                        <a href="#best-blog-host/">Web Hosting</a>
                        <a href="#best-email-marketing-services/">Email Services</a>
                        <a href="#best-wordpress-plugins/">WordPress Plugins</a>
                        <a href="#best-seo-tools/">SEO Tools</a>
                        <a href="#best-marketing-automation-tools/">Marketing
                            Automation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
