<div id="fullscreensearch" style="display: none;">
    <svg class="angle small in-search-panel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="none">
        <polygon fill="#C61E2F" points="0,0 0,40 100,15 100,0"></polygon>
    </svg>
    <div class="clear infocon">
        <div class="instrsrch">Type in your keyword and <span style="font-weight: bold;">press enter</span> to
            search:</div>
        <div class="closesearch">X &nbsp; CLOSE</div>
    </div>
    <form action="#" method="GET">
        <input type="text" value="" placeholder="Search BlogTyrant.com..." name="s" class="s search-input"
            autocomplete="off">
    </form>
</div>
