@media screen and (max-width: 767px) {
    .after-head .illus {
        /* background-image: url(/images/business-support-concept-illustration-sp.webp) !important; */
    }
}

.after-head .illus {
    max-width: 512px;
    right: 0;
    opacity: 0.75;
}
