{{ define "main" }}

<div id="content" class="clear ">
    <div class="container">
        <div class="post-con">
            <div class="post-body mc">
                <h1 class="main-suc"><a href="/contact/">Contact Us</a></h1>

                <p>Hey there, thank you for visiting our website. We looking forward to connecting with you.</p>
                <p>Please give us up to 72 hours to respond before resending the email.</p>
                <p>Please note that we DO NOT accept guest posts. If you send us an inquiry with that, we will
                    simply mark your email as spam.</p>
                <p>Thanks for your understanding, and once again thanks for checking out our site.</p>
                <p>We look forward to hearing from you!</p>

                <div class="wpforms-container wpforms-container-full wpforms-block" id="wpforms-20698">
                    <form id="wpforms-form-20698" class="wpforms-validate wpforms-form wpforms-ajax-form"
                        data-formid="20698" method="post" enctype="multipart/form-data" action="#"
                        data-token="382ba7a7927827757167bc79b64643f1" novalidate="novalidate"><noscript
                            class="wpforms-error-noscript">Please enable JavaScript in your browser to complete
                            this form.</noscript>
                        <div class="wpforms-field-container">
                            <div id="wpforms-20698-field_0-container" class="wpforms-field wpforms-field-name"
                                data-field-id="0"><label class="wpforms-field-label" for="wpforms-20698-field_0">Name
                                    <span class="wpforms-required-label">*</span></label><input type="text"
                                    id="wpforms-20698-field_0" class="wpforms-field-medium wpforms-field-required"
                                    name="wpforms[fields][0]" required=""></div>
                            <div id="wpforms-20698-field_1-container" class="wpforms-field wpforms-field-email"
                                data-field-id="1"><label class="wpforms-field-label" for="wpforms-20698-field_1">Email
                                    <span class="wpforms-required-label">*</span></label><input type="email"
                                    id="wpforms-20698-field_1" class="wpforms-field-medium wpforms-field-required"
                                    name="wpforms[fields][1]" spellcheck="false" required=""></div>
                            <div id="wpforms-20698-field_2-container" class="wpforms-field wpforms-field-textarea"
                                data-field-id="2"><label class="wpforms-field-label" for="wpforms-20698-field_2">Brief
                                    Message <span class="wpforms-required-label">*</span></label><textarea
                                    id="wpforms-20698-field_2" class="wpforms-field-medium wpforms-field-required"
                                    name="wpforms[fields][2]" required=""></textarea></div>
                        </div><!-- .wpforms-field-container -->

                        <div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]"
                                value="20698"><input type="hidden" name="wpforms[author]" value="23"><input
                                type="hidden" name="wpforms[post_id]" value="20697"><button type="submit"
                                name="wpforms[submit]" id="wpforms-submit-20698" class="wpforms-submit"
                                data-alt-text="Sending..." data-submit-text="Submit" aria-live="assertive"
                                value="wpforms-submit">Submit</button><img decoding="async"
                                src="./Contact Us - Blog Tyrant_files/submit-spin.svg" class="wpforms-submit-spinner"
                                style="display: none;" width="26" height="26" alt="Loading"></div>
                    </form>
                </div> <!-- .wpforms-container -->
            </div>
        </div>
    </div>
    
</div><!-- #content -->

{{ end }}