{{ define "main" }}

<div id="content" class="clear archive">
  <div class="archive latest-posts">
    <div class="container">
      <div class="desc-imp">
        <h1 class="page-title fit-content">Blog </h1>
        <span>Articles on SaaS, AI, Marketing, SEO, Writing, and Blogging. </span>
      </div>


      <div class="allp clear">
        {{ $pageSize := site.Params.pageSize }}
        {{ $pages := where site.RegularPages "Type" "blog" }}
        {{ $paginator := .Paginate $pages.ByTitle $pageSize }}
        {{ $cPage := $paginator.PageNumber }}
        {{ $after := mul (sub $cPage 1 ) $pageSize }}
        {{ $skipArticleTitle := "" }}

        <div class="main left">
          {{ range after $after (where site.RegularPages "Type" "blog") | first 1 }}
          {{ $skipArticleTitle = .Title }}
          <a href="{{ .Permalink }}" class="title">
            <img width="1600" height="1000"
              src="{{ .Params.banner }}"
              class="feat-img wp-post-image" alt="{{ .Title }}"
              decoding="async" fetchpriority="high"
              srcset="{{ .Params.banner }}"
              sizes="(max-width: 1600px) 100vw, 1600px"> </a>
          <div class="main-con">
            <h2><a href="{{ .Permalink }}" class="title">{{ .Title }}</a></h2>
            <div class="exc">
              <p>{{ .Summary | markdownify }} [...]</p>
            </div>
            <a href="{{ .Permalink }}"
              class="btn btn-small btn-red">Continue Reading...</a>
          </div>
          {{ end }}
        </div>

        <div class="others right">
          <div class="after-head bg-red in-archive">
            <div class="container">
              <div class="middle">
                <div class="main-suc">
                  Want to start a
                </div>
                <div class="suc">Successful Blog?</div>
                <div class="how clear">
                  <div class="right-way">Here's how to do it the right way.</div>
                  <div class="big-cta">
                    <a href="#start-a-new-blog/" class="cta">
                      <span>Beginner's Guide to Start a Blog</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="illus"
                style="background-image: url(/images/hero-illustration.png);">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="otherp clear">
        {{ range $paginator.Pages }}
        {{ if eq $skipArticleTitle .Title }}
        {{ continue }}
        {{ end }}
        <div class="main-con" style="height: 381.5px;">
          <h2 style="height: 86px;"><a
              href="{{ .Permalink }}"
              class="title">{{ .Title }}</a></h2>
          <div class="exc" style="height: 78px;">
            <p>{{ .Summary | markdownify }} [...]</p>
          </div>
          <a href="{{ .Permalink }}"
            class="btn btn-small btn-red">Continue Reading...</a>
        </div>
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}

    </div>
  </div>

  
</div><!-- #content -->

{{ end }}
